<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="Simple"
                address="http://localhost:58361/MyService.svc"
                binding="basicHttpBinding"
                contract="CustomisationService.Contract.ICommunicate">
        <headers>
          <x-myheader>Thisisaheader</x-myheader>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>