<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="CustomisationService.Core.SuperServiceAuthenticationManager,CustomisationService.Core" />
          <serviceAuthorization serviceAuthorizationManagerType="CustomisationService.Core.SuperServiceAuthorizationManager,CustomisationService.Core" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Simple">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>

      <service name="CustomisationService.Service.Communication" behaviorConfiguration="CustomServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="CustomisationService.Contract.ICommunicate"
                  bindingNamespace="au.com.farry.customisation"
                  bindingConfiguration="Simple">

          <identity>
            <servicePrincipalName value="host/localhost"/>

          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="service"/>
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>


</configuration>
